*{
    margin: 0;
    padding: 0;
}
.logo{
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.logo img{
    width: 83%;
    clip-path: circle();
    border: 3px solid white;

}
.navbar{
    display: flex; /* default row */
    align-items: center;
    justify-content: center;
    align-items: center;
    position: sticky;
    cursor: pointer;
    top: 0;

}
.nav-list{
    align-items: center;
   display: flex;
    /* background-color: black; */
    width: 50%;
}
.navi{
    flex: right;
}
li{
    padding: 26px 30px;
}
.nav-list li{
    list-style: none;
    
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
 
}
.nav-list li a:hover{ /* hover is when we touch by mouse */
    color: grey;
}
.rightNav{
    
    width: 50%;
   text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url("kelly-sikkema-IZOAOjvwhaM-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstsection{
    height: 100vh;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}
.section{
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    max-width: 70%;
}
.section-Left{
   flex-direction: row-reverse;
}
.paras{
    padding: 0px 65px;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}
.sectionTag{
    padding: 16px 0;
}
.contact{
    background-color: #f6f5f4;
    height: 833px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    
}
.form{
    max-width: 1200px;
    margin: 25px auto;
}
.form input{
    margin: 30px 0;
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}

.btn-dark{
    color: grey;
    border: 2px solid black;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-size: 35px;
    display: flex;
    justify-content: center;   
    color: white;
}
.C16{
        
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    font-size: 120px;
    color: rgba(237, 22, 22, 0.9);
    
    animation: animate 1s ease-in-out infinite
    alternate;
}
.C10{
    padding: 10px;
    min-height: 100vh;
width: 100%;
background-image:linear-gradient(rgba(4,9,30,0.7),rgba(190, 201, 242, 0.7)),url(anastase-maragos-7kEpUPB8vNk-unsplash.jpg);
background-position: center;
background-size: cover;
position: realtive;
}
.A6{
    clip-path: circle();
}